@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}  
ol, ul {
    list-style: none; 
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2 {
    width: fit-content;
    margin: auto; 
    padding: 20px;
}

footer {
    margin-top: auto;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices-container > ul {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    padding: 50px;
}

.choices-container li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;   
}

.choices-container li:hover {
    cursor: pointer;    
}


.choice-img {
    width: 150px;
    height: 150px;
}